:root {
  --gray: #00796b;
  --orange: #ff9800;
  --light-gray: #f5f5f5;
  --dark-gray: #333;
  --white: #fff;
  --black: #000;
  --hover-orange: #c77802;
}

* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.custom-bg {
  background-color: var(--orange);
}

.custom-bg:hover {
  background-color: var(--hover-orange);
}

.custom-bg1 {
  background-color: var(--orange);
}

.availability-form {
  margin-top: -50px;
  z-index: 2;
  position: relative;
}

@media screen and (max-width: 575px) {
  .availability-form {
    margin-top: 25px;
    padding: 0 35px;
  }
}

.h-line {
  width: 150px;
  margin: 0 auto;
  height: 2px;
}

.pop:hover {
  border-top-color: var(--orange) !important;
  transform: scale(1.03);
  transition: all 0.3s;
}

.box {
  border-top-color: var(--orange) !important;
}

.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.37);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.3px);
  -webkit-backdrop-filter: blur(15.3px);
  /* border: 1px solid rgba(255, 255, 255, 0.87); */
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.custom-alert {
  position: fixed;
  top: 80px;
  right: 25px;
}

#dashboard-menu {
  position: fixed;
  height: 100%;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* handle */
::-webkit-scrollbar-thumb {
  background: #1b0707;
}
/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #252525;
}

@media screen and (max-width: 991px) {
  #dashboard-menu {
    height: auto;
    width: 100%;
    z-index: 99;
  }

  #main-content {
    margin-top: 60px;
  }

  .custom-alert {
    position: fixed;
    top: 35px;
  }
}
